mixin pagination(data,title)
    -data=data||["","",""]  
    .pagination
        .pagination__list(data-size=data[0],data-page=data[1],data-step=data[2])
        .pagination__title= title

//- ul.pagination__items
//-     .pagination__item.pagination__item--prev.material-icons 
//-     li.pagination__item.pagination__item--select 2
//-     li.pagination__item 3
//-     li.pagination__item.pagination__item--separator ...
//-     li.pagination__item 15
//-     .pagination__item.pagination__item--next.material-icons
 1 – 12 из 100+ вариантов аренды