mixin avatar(img,title,subtitle)
    -let alt = img.split("/")
    each val in alt
        - alt=val.split(".")[0]    
    .avatar
        .avatar__img
            img(src=img, alt=alt)
        .avatar__titles
            .avatar__title= title
            .avatar__subtitle= subtitle
                